body {
  font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,sans-serif;
}

.background {
  background: url(images/background.jpg) no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.background a {
  text-decoration: none;
}

.background__text {
  text-align: center;
  color: white;
  font-size: 13px;
  letter-spacing: 4px;
}

.logo {
  text-align: center;
  padding: 50px 0 15px 0;
  font-size: 34px;
  color: white;
  font-weight: 100;
  letter-spacing: 4px;
}

.top-wrap {
  height: 100vh;
  position: relative;
}

.logo_mobile {
  display: none;
}

.header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu__item {
  color: grey;
  font-size: 13px;
  letter-spacing: 3px;
  padding: 0 15px 0 15px;
}

.menu__item:hover {
  color: #424242;
}

.menu__list {
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_burger {
  display: none;
}

.main {
  background-color: white;
}

.main__container {
  width: 75%;
  margin: 0 auto;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.main__button {
  display: block;
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: white;
  color: grey;
  font-size: 15px;
  padding: 13px 30px;
}

.main__button:hover {
  color: #424242;
  border: 2px solid black;
  cursor: pointer;
}

.card {
  padding: 0 20px 50px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.card__image {
  width: 100%;
}

.card__image:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 0;
}

.heading {
  color: #535353;
  text-align: left;
  font-size: 20px;
  font-weight: normal;
  padding: 50px 0 20px 0;
}

.text {
  font-size: 15px;
  color: grey;
  text-align: left;
  padding: 20px 0 20px 0;
  line-height: 25px;
  font-weight: 450;
}

.container-tt {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tag {
  text-align: left;
  font-size: 13px;
  color: grey;
}

.time {
  text-align: right;
  font-size: 13px;
  color: grey;
}

.button__container {
  padding-bottom: 60px;
}

.feedback__container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0;
}

.feedback__heading {
  font-size: 26px;
  font-weight: normal;
  color: white;
  width: 75%;
  line-height: 35px;
}

.form {
  border-radius: 5px;
  background-color: #e9e9e9;
  overflow: hidden;
}

.form__email {
  border: none;
  font-size: 14px;
  color: #424242;
  padding: 12px 100px 12px 10px;
  outline: none;
  background-color: #e9e9e9;
}

.form__button {
  border: none;
  padding: 12px 15px 12px 15px;
  font-size: 14px;
  background-color: white;
  outline: none;
}

.form__button:hover {
  cursor: pointer;
}

.feedback__text {
  padding-top: 10px;
  color: white;
  font-size: 14px;
}

.footer {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e9e9e9;
  padding: 25px 150px;
}

.footer__text {
  color: grey;
  font-size: 15px;
  padding-top: 7px;
}

.icon {
  width: 30px;
}

@media (max-width: 1024px) {
  .feedback__heading {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .main__container {
    width: 90%;
  }
  .card {
    padding: 0 15px 30px;
  }
}

@media (max-width: 940px) {
  .main__container {
    -webkit-column-count: 2;
    column-count: 2;
    width: 90%;
  }
  .card {
    padding: 0 15px 30px;
  }
}

@media (max-width: 760px) {
  .main__container {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .card {
    padding: 0 15px 30px;
  }
  .logo {
    padding-top: 30vh;
  }
  .header {
    position: fixed;
    top: 0;
    bottom: auto;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 15px;
  }
  .top-wrap {
    height: 70vh;
  }
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
    -webkit-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
  }
  .menu__item {
    color: #424242;
  }
  .menu__list {
    display: block;
    padding: 50px 0 0 10px;
  }
  .menu li {
    padding: 10px 0 10px 0;
  }
  .menu_burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    right: 20px;
    top: 17.5px;
    cursor: pointer;
  }
  .menu_burger::before, .menu_burger::after {
    content: '';
    background-color: #424242;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu_burger::before {
    top: 0;
  }
  .menu_burger::after {
    bottom: 0;
  }
  .menu_burger span {
    position: absolute;
    background-color: #424242;
    left: 0;
    width: 100%;
    height: 1px;
    top: 9.5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .active {
    display: block;
  }
  .active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
  .active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .logo_mobile {
    display: block;
    font-size: 14px;
    font-weight: 450;
    color: #424242;
    letter-spacing: 2px;
    position: fixed;
    left: 20px;
    top: 9px;
    padding: 10px 0;
  }
  .form__email {
    padding-right: 20px;
  }
  .feedback__text {
    text-align: center;
  }
  .feedback__heading {
    width: 90%;
  }
  .footer {
    padding: 20px 10px;
  }
  .footer__text {
    font-size: 12px;
  }
}

body a {
  text-decoration: none;
}

.header-0 {
  background-color: white;
}

.logo_dark {
  color: #424242;
}

.background__text_grey {
  color: grey;
}

.header_static {
  position: static;
  padding-top: 50px;
  padding-bottom: 40px;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.main__image {
  width: 100%;
  border-radius: 7px;
}

.border-top {
  border-top: 3px solid #e9e9e9;
  padding-bottom: 50px;
}

.heading_page2 {
  color: #424242;
  font-size: 28px;
}

.date {
  color: grey;
  font-size: 17px;
}

.text_page2 {
  color: #535353;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 760px) {
  .container {
    width: 85%;
    padding-top: 50px;
  }
  .border-top {
    display: none;
    padding-bottom: 0;
  }
  .logo_dark {
    padding-top: 15vh;
  }
  .header_mobile_fixed {
    position: fixed;
    top: 0;
    bottom: auto;
    height: .1vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */